<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetEase edun</title>
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <header>
      <a href="#">
        <img src="https://www.npmrc.cn/img/logo.png" width="35px" alt="" />
        logo
      </a>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </header>
    <main>
      <div>
        <p>尊敬的易盾用户，</p>
        <br /><br />
        <p>恭喜您注册成功，欢迎您使用网易易盾云安全服务！</p>
        <p>接下来您只需要 创建产品，获取APP KEY，即可享受免费的试用体验了。</p>
        <p>快来开启易盾云安全之旅吧。</p>
        <br /><br />
        <p>在您接入测试的过程中遇到任何问题，均可通过以下途径找到答案：</p>
        <p>1.查看接入流程、咨询技术问题，进入帮助中心</p>
        <p>2.快速问题响应，专属客服人员一对一解答，工单系统为您排忧解难</p>
        <p>3.我不是技术、或有其他问题，需要直接联系商务</p>
        <br /><br />
        <p>再次感谢您的信任与支持，网易易盾将为您的业务安全保驾护航。</p>
      </div>

      <footer>
        <div>网易易盾团队</div>
        <hr />
        <p>此为系统邮件请勿回复</p>
      </footer>
    </main>

    <footer id="bottom">
      <div class="left">
        <ul class="first">
          <li class="footer_smallTitle">联系我们</li>
          <li>电话咨询：16599999215</li>
          <li>
            邮箱咨询：<a href="mailto:57878778@qq.com">57878778@qq.com</a>
          </li>
          <li>
            联系地址：<span class="readmail_locationTip"
              >杭州市滨江区网商路599号网易大厦</span
            >
          </li>
        </ul>
        <ul class="second">
          <li class="footer_smallTitle mb-3">联系我们</li>
          <li>
            <a href="https://reports.org.cn/" target="_blank"
              >https://reports.org.cn/</a
            >
          </li>
          <li class="footer_smallTitle mb-3">管理中心</li>
          <li>
            <a href="https://reports.org.cn/" target="_blank"
              >https://reports.org.cn/</a
            >
          </li>
        </ul>
      </div>
      <div class="right">
        <p>关注XX微信</p>
        <img
          src="https://nos.netease.com/cloud-website-bucket/f16257a2dbeb7bc71ac000c61c42c5fa.png"
          alt=""
        />
      </div>
    </footer>
  </body>
</html>
