header {
  max-width: 800px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f76f1;
}

header a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

header p {
  color: #cccccc;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 20px;
  line-height: 170%;
  font-size: 16px;
  min-height: 700px;
  max-width: 800px;
  height: 100%;
  font-size: 12px;
}

main > div {
  max-width: 450px;
}

main > div p {
  margin-bottom: 10px;
}

main footer {
  width: 100%;
  text-indent: 0;
  line-height: normal;
}

main footer div {
  font-weight: bolder;
}

main footer hr {
  display: block;
  margin: 6px 0;
  border-top: 1px dashed #8c8b8b;
}

footer#bottom {
  max-width: 800px;
  padding: 25px 30px;
  background-color: #f4f6f9;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

footer#bottom .left {
  display: flex;
  justify-content: space-between;
}

footer#bottom .left ul {
  margin-right: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.readmail_locationTip {
  border-bottom: 1px dashed #ababab;
}

.footer_smallTitle {
  font-size: 14px;
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 3px !important;
}

footer#bottom .left ul.first > li {
  margin-bottom: 5px;
}

footer#bottom .left ul.second > li {
  margin-bottom: 12px;
}

footer#bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer#bottom .right img {
  width: 72px;
  margin-top: 4px;
}
