<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <title>Tencent Cloud</title>
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <a href="https://cloud.tencent.com/">
          <img
            width="92px"
            src="https://imgcache.qq.com/open_proj/proj_qcloud_v2/mc_2014/cdn/css/img/mail/logo-pc.png"
            alt="Tencent Cloud"
          />
        </a>
      </header>

      <main>
        <p class="d2bold info">
          验证码：936135，该验证码5分钟内有效。为了保障您的账户安全，请勿向他人泄漏验证码信息。
        </p>
        <div class="footer">
          <p>此致</p>
          <b>腾讯云团队</b>
        </div>
      </main>

      <footer>
        <p>此为系统邮件，请勿回复</p>
        <img
          width="64px"
          src="http://imgcache.qq.com/open_proj/proj_qcloud_v2/tools/edm/css/img/wechat-qrcode-2x.jpg"
          alt="Offical Accounts"
        />
        <p>关注服务号，移动管理云资源</p>
        <img
          src="https://imgcache.qq.com/open_proj/proj_qcloud_v2/gateway/mail/cr.svg"
          alt="Copyright"
        />
      </footer>
    </div>

    <script src="index.js"></script>
  </body>
</html>
