:root {
  --n-margin-multiplier: 2;
}

body {
  padding: 8px;
}

.container {
  width: 620px;
  margin: 0 auto;
  /* padding: 20px; */
  color: black;
  background-color: #ffffff;
  padding: 20px 20px 50px 20px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.mt-1 {
  margin-top: calc(1px * var(--n-margin-multiplier));
}
.mt-2 {
  margin-top: calc(2px * var(--n-margin-multiplier));
}
.mt-3 {
  margin-top: calc(3px * var(--n-margin-multiplier));
}
.mt-4 {
  margin-top: calc(4px * var(--n-margin-multiplier));
}
.mt-5 {
  margin-top: calc(5px * var(--n-margin-multiplier));
}
.mt-6 {
  margin-top: calc(6px * var(--n-margin-multiplier));
}

#top-menu .logo img {
  width: 150px;
}

#main-area {
  padding-bottom: 30px;
}

#main-area p {
  margin: 12px 0;
}

#main-area h3 {
  margin-top: 25px;
  font-weight: bolder;
  line-height: 1;
  font-size: 16px;
}

#main-footer {
  padding-top: 40px;
  border-top: 2px solid #e7e8e9;
  font-size: 10px;
}

#main-footer a {
  font-size: 9px;
  color: black;
}
