<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Docker</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="media.css" />
  </head>

  <body>
    <div class="container">
      <header id="main-header">
        <ul id="top-menu">
          <li class="logo">
            <a href="#">
              <img
                src="https://z1.ax1x.com/2023/10/10/pPzFhjI.png"
                alt="Docker"
              />
            </a>
          </li>
        </ul>
      </header>

      <main id="main-area">
        <p>Hi and welcome to Docker, <strong>57878778!</strong></p>

        <p>
          Congratulations, your account has been verified! Sign in to your
          Docker account to download Docker Desktop, create repositories, and
          invite others to collaborate with you.
        </p>

        <p>
          To help you get started, check out the Docker documentation or launch
          the online tutorial to learn:
        </p>

        <h3>Key Docker Concepts</h3>

        <p>
          Learn Docker basics and the benefits of containerizing your
          applications.
        </p>

        <h3>How to set up your Docker environment</h3>

        <p>
          Download Docker Desktop, set up your Docker environment and start
          containerizing your applications in a few easy steps.
        </p>

        <h3>Share your image on Docker Hub</h3>

        <p>
          Share your image on Docker Hub so it can be easily downloaded and run
          on any destination machine.
        </p>

        <a
          rel="noopener"
          href="https://email.notify.docker.com/c/eJxMjsFuwyAQRL8G34hgsdnlwKGS5d-oMCwOarATG1fq31eucuhtNG-eNMkPbDl37LV1RhtQFru7V6QtBgaKlIfgsI-zc5QyD4CQBu6KBwVGEaBWgD3eeqDZ5DDP5HIkRtGrdWsl_9zSFr94v8Wtdg9_b-15CPMhYBIwpS0e_7iAaeEmjxb2xumamOls9TOG-gxlWYUZQYGWykltZQ3lsZyr5CvIb95LLpdlL6VyKmcVZvyj7_LYzj2yMONb7XY_ICEhkujV63V9-A0AAP__KKJUuw"
          style="
            color: #ffffff;
            background: #007bff;
            padding: 9px 0;
            width: 250px;
            text-decoration: none !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 600;
            text-align: center;
            cursor: pointer;
            letter-spacing: 0.5px;
            border-radius: 4px;
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 0px;
          "
          class="button"
          target="_blank"
        >
          View Documentation
        </a>

        <p>Thank you! <br />The Docker Team</p>
        <p>感谢你们！<br />Docker团队</p>
      </main>

      <footer id="main-footer">
        <p>
          You have received this mandatory notification to update you about
          changes to your Docker account.
        </p>

        <p class="mt-6">© 2023 Docker Inc.</p>

        <p class="mt-3">3790 El Camino Real #1052, Palo Alto, CA 94306</p>

        <p class="mt-1">
          <a
            href="https://email.notify.docker.com/c/eJxMy0FuhSAQgOHTwO4ZmFFmXLDoxnvgMPSR0qLW1Hj7punmbf8_X46TBi1Wow8zegQXyD5jQue9iCSCWae8FkQOqWhWAgx5tjWCA3QM5B3QSMMIvGJJ68pzEVYyo_vqZy33kLt86DFI_7QtPs9z-zb4ZmAxsFzX9bINLE3fUzOw_MfHdtSfJPdj663KbY84ERMTsRndvv-Z3wAAAP__2BQ6QA"
            target="_blank"
            >Privacy Policy</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
